{{ include('header.html.twig') }}

<script type="text/javascript">
function delete_articulo(url) {
    bootbox.confirm({
        message: '¿Realmente desea eliminar este artículo?',
        title: '<b>Atención</b>',
        callback: function (result) {
            if (result) {
                window.location.href = url;
            }
        }
    });
}

function cambiar_pvp() {
    if ($("#pvp").val().search(",") >= 0) {
        $("#pvp").val($("#pvp").val().replace(",", "."));
    }
    var iva = parseFloat($("#iva").val());
    var pvp = parseFloat($("#pvp").val());
    $("#pvpi").val(pvp * (100 + iva) / 100);
    calcular_margen();
}

function cambiar_pvpi() {
    if ($("#pvpi").val().search(",") >= 0) {
        $("#pvpi").val($("#pvpi").val().replace(",", "."));
    }
    var iva = parseFloat($("#iva").val());
    var pvpi = parseFloat($("#pvpi").val());
    var pvp = (100 * pvpi) / (100 + iva);
    $("#pvp").val(pvp);
    calcular_margen();
}

function cambiar_margen() {
    if ($("#coste").val().search(",") >= 0) {
        $("#coste").val($("#coste").val().replace(",", "."));
    }
    if ($("#margen").val().search(",") >= 0) {
        $("#margen").val($("#margen").val().replace(",", "."));
    }
    var iva = parseFloat($("#iva").val());
    var coste = parseFloat($("#coste").val());
    var margen = parseFloat($("#margen").val());
    if (!isNaN(margen) && isFinite(margen)) {
        var pvp = coste * (100 + margen) / 100;
        $("#pvp").val(pvp);
        $("#pvpi").val(pvp * (100 + iva) / 100);
    }
}

function calcular_margen() {
    var coste = parseFloat($("#coste").val());
    var pvp = parseFloat($("#pvp").val());
    var margen = 0;
    if (coste > 0 && pvp !== 0) {
        margen = (pvp * 100) / coste - 100;
    }
    $("#margen").val(margen);
}

$(document).ready(function () {
    calcular_margen();
    if (window.location.hash.substring(1) == 'precios') {
        $('#tab_articulo a[href="#precios"]').tab('show');
    } else if (window.location.hash.substring(1) == 'stock') {
        $('#tab_articulo a[href="#stock"]').tab('show');
    } else if (window.location.hash.substring(1) == 'atributos') {
        $('#tab_articulo a[href="#atributos"]').tab('show');
    }
});
</script>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="page-header">
                <h1>
                    <i class="fa fa-cube" aria-hidden="true"></i>&nbsp;
                    {% if fsc.articulo.referencia %}
                        {{ fsc.articulo.referencia }}
                    {% else %}
                        {{ 'article'|trans }}
                    {% endif %}
                    <a class="btn btn-xs btn-default" href="{{ fsc.url() }}" title="{{ 'reload'|trans }}">
                        <span class="glyphicon glyphicon-refresh"></span>
                    </a>
                    <span class="btn-group">
                        {% for ext in fsc.extensions %}
                            {% if ext.type == 'button' %}
                            <a href="index.php?page={{ ext.from }}{{ ext.params }}" class="btn btn-xs btn-default">{{ ext.text }}</a>
                            {% endif %}
                        {% endfor %}
                    </span>
                </h1>
            </div>
        </div>
    </div>

    {% if fsc.articulo.referencia %}
    <div class="row">
        <div class="col-sm-12">
            <form class="form" role="form" action="{{ fsc.url() }}" method="post">
                {{ csrf_field() }}
                <input type="hidden" name="sreferencia" value="{{ fsc.articulo.referencia }}"/>

                <ul class="nav nav-tabs" id="tab_articulo" role="tablist">
                    <li role="presentation" class="active">
                        <a href="#datos" aria-controls="datos" role="tab" data-toggle="tab">{{ 'data'|trans }}</a>
                    </li>
                    <li role="presentation">
                        <a href="#precios" aria-controls="precios" role="tab" data-toggle="tab">{{ 'prices'|trans }}</a>
                    </li>
                    <li role="presentation">
                        <a href="#stock" aria-controls="stock" role="tab" data-toggle="tab">{{ 'stock'|trans }}</a>
                    </li>
                </ul>

                <div class="tab-content" style="margin-top: 15px;">
                    {# Tab: Datos #}
                    <div role="tabpanel" class="tab-pane active" id="datos">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">{{ 'reference'|trans }}: {{ fsc.articulo.referencia }}</h3>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            {{ 'description'|trans }}:
                                            <textarea class="form-control" name="sdescripcion" rows="3" autocomplete="off">{{ fsc.articulo.descripcion }}</textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            {{ 'family'|trans }}:
                                            <select class="form-control" name="scodfamilia">
                                                <option value="">{{ 'none'|trans }}</option>
                                                {% for familia in fsc.familias %}
                                                    <option value="{{ familia.codfamilia }}" {% if fsc.articulo.codfamilia == familia.codfamilia %}selected{% endif %}>
                                                        {{ familia.descripcion }}
                                                    </option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            {{ 'manufacturer'|trans }}:
                                            <select class="form-control" name="scodfabricante">
                                                <option value="">{{ 'none'|trans }}</option>
                                                {% for fabricante in fsc.fabricantes %}
                                                    <option value="{{ fabricante.codfabricante }}" {% if fsc.articulo.codfabricante == fabricante.codfabricante %}selected{% endif %}>
                                                        {{ fabricante.nombre }}
                                                    </option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            {{ 'tax'|trans }}:
                                            <select class="form-control" name="scodimpuesto" id="codimpuesto" onchange="cambiar_pvp()">
                                                <option value="">{{ 'none'|trans }}</option>
                                                {% for impuesto in fsc.impuestos %}
                                                    <option value="{{ impuesto.codimpuesto }}" {% if fsc.articulo.codimpuesto == impuesto.codimpuesto %}selected{% endif %} data-iva="{{ impuesto.iva }}">
                                                        {{ impuesto.descripcion }} ({{ impuesto.iva }}%)
                                                    </option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            {{ 'barcode'|trans }}:
                                            <input class="form-control" type="text" name="scodbarras" value="{{ fsc.articulo.codbarras }}" autocomplete="off"/>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            {{ 'equivalence-code'|trans }}:
                                            <input class="form-control" type="text" name="sequivalencia" value="{{ fsc.articulo.equivalencia }}" autocomplete="off"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            {{ 'part-number'|trans }}:
                                            <input class="form-control" type="text" name="spartnumber" value="{{ fsc.articulo.partnumber }}" autocomplete="off"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            {{ 'observations'|trans }}:
                                            <textarea class="form-control" name="sobservaciones" rows="2" autocomplete="off">{{ fsc.articulo.observaciones }}</textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" name="ssevende" value="TRUE" {% if fsc.articulo.sevende %}checked{% endif %}/>
                                                {{ 'can-sell'|trans }}
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" name="ssecompra" value="TRUE" {% if fsc.articulo.secompra %}checked{% endif %}/>
                                                {{ 'can-buy'|trans }}
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" name="spublico" value="TRUE" {% if fsc.articulo.publico %}checked{% endif %}/>
                                                {{ 'public'|trans }}
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" name="sbloqueado" value="TRUE" {% if fsc.articulo.bloqueado %}checked{% endif %}/>
                                                {{ 'blocked'|trans }}
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    {# Tab: Precios #}
                    <div role="tabpanel" class="tab-pane" id="precios">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">{{ 'prices'|trans }}</h3>
                            </div>
                            <div class="panel-body">
                                <input type="hidden" id="iva" value="{{ fsc.articulo.get_iva() }}"/>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            {{ 'cost-price'|trans }}:
                                            <input class="form-control" type="text" id="coste" value="{{ fsc.articulo.preciocoste()|number_format(2, ',', '.') }}" readonly="readonly"/>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            {{ 'sale-price'|trans }} ({{ 'without-tax'|trans }}):
                                            <input class="form-control" type="text" id="pvp" name="spvp" value="{{ fsc.articulo.pvp|number_format(2, ',', '.') }}" oninput="cambiar_pvp()" autocomplete="off"/>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            {{ 'sale-price'|trans }} ({{ 'with-tax'|trans }}):
                                            <input class="form-control" type="text" id="pvpi" oninput="cambiar_pvpi()" autocomplete="off"/>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            {{ 'margin'|trans }} (%):
                                            <input class="form-control" type="text" id="margen" oninput="cambiar_margen()" autocomplete="off"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    {# Tab: Stock #}
                    <div role="tabpanel" class="tab-pane" id="stock">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">{{ 'stock'|trans }}</h3>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            {{ 'physical-stock'|trans }}:
                                            <input class="form-control" type="text" name="sstockfis" value="{{ fsc.articulo.stockfis|number_format(2, ',', '.') }}" autocomplete="off"/>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            {{ 'minimum-stock'|trans }}:
                                            <input class="form-control" type="text" name="sstockmin" value="{{ fsc.articulo.stockmin|number_format(2, ',', '.') }}" autocomplete="off"/>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            {{ 'maximum-stock'|trans }}:
                                            <input class="form-control" type="text" name="sstockmax" value="{{ fsc.articulo.stockmax|number_format(2, ',', '.') }}" autocomplete="off"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" name="snostock" value="TRUE" {% if fsc.articulo.nostock %}checked{% endif %}/>
                                                {{ 'no-stock-control'|trans }}
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel-footer text-right" style="margin-top: 15px;">
                    {% if fsc.allow_delete is defined and fsc.allow_delete %}
                    <a class="btn btn-sm btn-danger pull-left" onclick="delete_articulo('{{ fsc.url() }}&delete={{ fsc.articulo.referencia }}')">
                        <span class="glyphicon glyphicon-trash"></span>&nbsp; {{ 'delete'|trans }}
                    </a>
                    {% endif %}
                    <button class="btn btn-sm btn-primary" type="submit" onclick="this.disabled=true;this.form.submit();">
                        <span class="glyphicon glyphicon-floppy-disk"></span>&nbsp; {{ 'save'|trans }}
                    </button>
                </div>
            </form>
        </div>
    </div>
    {% else %}
    <div class="row">
        <div class="col-sm-12">
            <div class="alert alert-warning">{{ 'article-not-found'|trans }}</div>
        </div>
    </div>
    {% endif %}
</div>

{{ include('footer.html.twig') }}
