<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="es" xml:lang="es" >
<head>
   <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
   <title>{{ constant('FS_DEMO') ? 'DEMO FacturaScripts' : (fsc.empresa.nombrecorto ?: fsc.empresa.nombre) }}</title>
   <meta name="description" content="FSFramework es un software de facturación y contabilidad para pymes. Es software libre bajo licencia GNU/LGPL." />
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <meta name="generator" content="FSFramework" />
   <meta name="robots" content="noindex" />
   {% set theme_path = theme_path is defined ? theme_path : 'themes/AdminLTE' %}
   <link rel="shortcut icon" href="{{ constant('FS_PATH') }}view/img/favicon.ico" />
   <link rel="stylesheet" href="{{ constant('FS_PATH') }}view/css/bootstrap.min.css" />
   <link rel="stylesheet" href="{{ constant('FS_PATH') }}view/css/font-awesome.min.css" />
   <link rel="stylesheet" href="{{ constant('FS_PATH') }}{{ theme_path }}/css/AdminLTE.min.css" />
   <link rel="stylesheet" href="{{ constant('FS_PATH') }}view/css/custom.css" />
   
   <script type="text/javascript" src="{{ constant('FS_PATH') }}view/js/jquery.min.js"></script>
   <script type="text/javascript" src="{{ constant('FS_PATH') }}view/js/bootstrap.min.js"></script>
   <script type="text/javascript" src="{{ constant('FS_PATH') }}view/js/jquery.ui.shake.js"></script>
   <script type="text/javascript">
      $(document).ready(function() {
         {% if fsc.get_errors() %}
         $(".login-box").shake();
         {% endif %}
         
         {% if constant('FS_DEMO') %}
         document.f_login.user.focus();
         {% else %}
         document.f_login.password.focus();
         {% endif %}
         
         $("#b_new_password").click(function(event) {
            event.preventDefault();
            $("#modal_new_password").modal('show');
            document.f_new_password.new_password.focus();
         });
      });
   </script>
</head>
<body class="hold-transition login-page">
   <div class="login-box">
      <div class="login-logo">
         <a href="index.php">
            {% if file_exists(theme_path ~ '/img/logo.png') %}
            <img src="{{ constant('FS_PATH') }}{{ theme_path }}/img/logo.png" style="max-width: 200px;"/>
            {% elseif file_exists(constant('FS_MYDOCS') ~ 'images/logo.png') %}
            <img src="images/logo.png" style="max-width: 200px;"/>
            {% elseif file_exists(constant('FS_MYDOCS') ~ 'images/logo.jpg') %}
            <img src="images/logo.jpg" style="max-width: 200px;"/>
            {% else %}
            <b>Factura</b>Scripts
            {% endif %}
         </a>
      </div>
      
      {% if fsc.get_errors() %}
      <div class="alert alert-danger">
         <ul class="list-unstyled">
            {% for value in fsc.get_errors() %}<li>{{ value|raw }}</li>{% endfor %}
         </ul>
      </div>
      {% endif %}
      
      {% if fsc.get_messages() %}
      <div class="alert alert-success">
         <ul class="list-unstyled">
            {% for value in fsc.get_messages() %}<li>{{ value|raw }}</li>{% endfor %}
         </ul>
      </div>
      {% endif %}
      
      <div class="login-box-body">
         <p class="login-box-msg">
            {% if constant('FS_DEMO') %}
            Bienvenido a la demo, escribe tu email:
            {% else %}
            Inicia sesión para acceder al sistema
            {% endif %}
         </p>

         <form name="f_login" action="index.php?nlogin={{ nlogin }}" method="post">
            {% if constant('FS_DEMO') %}
            <input type="hidden" name="password" value="demo"/>
            <div class="form-group has-feedback">
               <input type="text" name="user" class="form-control" placeholder="Escribe tu email" required="" autocomplete="off"/>
               <span class="fa fa-envelope form-control-feedback"></span>
            </div>
            {% else %}
            <div class="form-group has-feedback">
               <input type="text" name="user" class="form-control" placeholder="Usuario" required="" autocomplete="off"/>
               <span class="fa fa-user form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
               <input type="password" name="password" class="form-control" maxlength="32" required="" placeholder="Contraseña"/>
               <span class="fa fa-lock form-control-feedback"></span>
            </div>
            {% endif %}
            
            <div class="row">
               <div class="col-xs-12">
                  <button type="submit" class="btn btn-primary btn-block btn-flat" id="login">
                     <i class="fa fa-sign-in" aria-hidden="true"></i>&nbsp; Iniciar sesión
                  </button>
               </div>
            </div>
         </form>

         {% if not constant('FS_DEMO') %}
         <br/>
         <a href="#" id="b_new_password" class="text-center">¿Has olvidado la contraseña?</a>
         {% endif %}
      </div>
      
      <div class="text-center mt-3" style="margin-top: 20px;">
         <a href="https://github.com/eltictacdicta/fs-framework" target="_blank" class="text-muted"><i class="fa fa-book"></i> Documentación</a>
         &nbsp;&nbsp;
         <a href="https://github.com/eltictacdicta/fs-framework/issues" target="_blank" class="text-muted"><i class="fa fa-shield"></i> Soporte</a>
      </div>
   </div>

   {% if not constant('FS_DEMO') %}
   <div class="modal fade" id="modal_new_password" tabindex="-1" role="dialog">
      <div class="modal-dialog">
         <div class="modal-content">
            <form name="f_new_password" action="index.php" method="post" class="form" role="form">
               <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                     <span aria-hidden="true">&times;</span>
                  </button>
                  <h4 class="modal-title">¿Has olvidado la contraseña?</h4>
               </div>
               <div class="modal-body">
                  <div class="form-group">
                     <label>Usuario</label>
                     <input type="text" name="user" class="form-control" placeholder="Usuario" required="" autocomplete="off"/>
                  </div>
                  <div class="form-group">
                     <label>Nueva contraseña</label>
                     <input type="password" class="form-control" name="new_password" maxlength="32" placeholder="Nueva contraseña" required=""/>
                     <input type="password" class="form-control" name="new_password2" maxlength="32" placeholder="Repite la nueva contraseña" required="" style="margin-top: 5px;"/>
                  </div>
                  <div class="form-group">
                     <label>Contraseña de la base de datos</label>
                     <input type="password" class="form-control" name="db_password" placeholder="Contraseña de la base de datos"/>
                  </div>
               </div>
               <div class="modal-footer">
                  <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cerrar</button>
                  <button type="submit" class="btn btn-warning">
                     <i class="fa fa-wrench" aria-hidden="true"></i>&nbsp; Cambiar
                  </button>
               </div>
            </form>
         </div>
      </div>
   </div>
   {% endif %}
   
   {% if constant('FS_DB_HISTORY') %}
   <div class="container-fluid" style="margin-top: 50px;">
      <div class="well">
         <h4>Consultas SQL:</h4>
         <ol style="font-size: 11px;">
         {% for value in fsc.get_db_history() %}<li>{{ value }}</li>{% endfor %}
         </ol>
      </div>
   </div>
   {% endif %}
</body>
</html>
