<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="es" xml:lang="es">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>{{ trans('force-password-change-title') }} - {{ fsc.empresa.nombrecorto ?: fsc.empresa.nombre }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="noindex" />
    {% set theme_path = theme_path is defined ? theme_path : 'themes/AdminLTE' %}
    <link rel="shortcut icon" href="{{ constant('FS_PATH') }}view/img/favicon.ico" />
    <link rel="stylesheet" href="{{ constant('FS_PATH') }}view/css/bootstrap.min.css" />
    <link rel="stylesheet" href="{{ constant('FS_PATH') }}view/css/font-awesome.min.css" />
    <link rel="stylesheet" href="{{ constant('FS_PATH') }}{{ theme_path }}/css/AdminLTE.min.css" />
    <link rel="stylesheet" href="{{ constant('FS_PATH') }}view/css/custom.css" />
    
    <script type="text/javascript" src="{{ constant('FS_PATH') }}view/js/jquery.min.js"></script>
    <script type="text/javascript" src="{{ constant('FS_PATH') }}view/js/bootstrap.min.js"></script>
</head>
<body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <a href="index.php">
                {% set logo_url = system_logo_url() %}
                {% if logo_url %}
                <img src="{{ logo_url }}" style="max-width: 200px;" alt="{{ system_name() }}"/>
                {% elseif file_exists(theme_path ~ '/img/logo.png') %}
                <img src="{{ constant('FS_PATH') }}{{ theme_path }}/img/logo.png" style="max-width: 200px;" alt="Logo"/>
                {% else %}
                <b>{{ system_name() }}</b>
                {% endif %}
            </a>
        </div>

        <div class="alert alert-warning">
            <i class="fa fa-exclamation-triangle"></i>
            <strong>{{ trans('force-password-change-warning') }}</strong>
            <p class="mb-0 mt-2">{{ trans('force-password-change-reason-insecure') }}</p>
        </div>
        
        {% if fsc.get_errors() %}
        <div class="alert alert-danger">
            <ul class="list-unstyled mb-0">
                {% for value in fsc.get_errors() %}<li>{{ value }}</li>{% endfor %}
            </ul>
        </div>
        {% endif %}
        
        {% if fsc.get_messages() %}
        <div class="alert alert-success">
            <ul class="list-unstyled mb-0">
                {% for value in fsc.get_messages() %}<li>{{ value }}</li>{% endfor %}
            </ul>
        </div>
        {% endif %}
        
        <div class="login-box-body">
            <p class="login-box-msg">
                <i class="fa fa-lock"></i> {{ trans('force-password-change-instruction') }}
            </p>

            <form name="f_password_change" action="index.php?page=force_password_change" method="post">
                {{ csrf_field() }}
                
                <div class="form-group has-feedback">
                    <label for="new_password">{{ trans('new-password') }}</label>
                    <input type="password" name="new_password" id="new_password" class="form-control" 
                           minlength="8" maxlength="32" required="" 
                           placeholder="{{ trans('new-password-placeholder') }}" autofocus=""/>
                    <span class="fa fa-lock form-control-feedback"></span>
                </div>
                
                <div class="form-group has-feedback">
                    <label for="confirm_password">{{ trans('repeat-new-password') }}</label>
                    <input type="password" name="confirm_password" id="confirm_password" class="form-control" 
                           minlength="8" maxlength="32" required="" 
                           placeholder="{{ trans('repeat-new-password-placeholder') }}"/>
                    <span class="fa fa-lock form-control-feedback"></span>
                </div>
                
                <p class="text-muted small">
                    <i class="fa fa-info-circle"></i> {{ trans('password-requirements') }}
                </p>
                
                <div class="row">
                    <div class="col-xs-12">
                        <button type="submit" class="btn btn-primary btn-block btn-flat">
                            <i class="fa fa-save"></i>&nbsp; {{ trans('change-password') }}
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
