{#
/**
 * This file is part of FSFramework
 * Copyright (C) 2025 Javier Trujillo <mistertekcom@gmail.com>
 *
 * AdminLTE Theme - Header
 * Native Twig version (migrated from RainTPL)
 */
#}
{# theme_path is now a global variable set by Html.php from ThemeManager #}
{# Use the dynamic theme_path if available, fallback to AdminLTE for backwards compatibility #}
{% set theme_path = theme_path is defined ? theme_path : 'themes/AdminLTE' %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="es" xml:lang="es">

<head>
   <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
   <title>{{ fsc.page.title }} </title>
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <meta name="generator" content="FacturaScripts" />
   {{ csrf_meta() }}
   <link rel="shortcut icon" href="{{ constant('FS_PATH') }}view/img/favicon.ico" />
   <link rel="stylesheet" href="{{ constant('FS_PATH') }}view/css/bootstrap.min.css" />
   <link rel="stylesheet" href="{{ constant('FS_PATH') }}view/css/font-awesome.min.css" />
   {% if file_exists(theme_path ~ '/css/AdminLTE.min.css') %}
   <link rel="stylesheet" href="{{ constant('FS_PATH') }}{{ theme_path }}/css/AdminLTE.min.css" />
   {% endif %}
   {% if file_exists(theme_path ~ '/css/skins/_all-skins.min.css') %}
   <link rel="stylesheet" href="{{ constant('FS_PATH') }}{{ theme_path }}/css/skins/_all-skins.min.css" />
   {% endif %}
   <link rel="stylesheet" href="{{ constant('FS_PATH') }}view/css/datepicker.css" />
   <link rel="stylesheet" href="{{ constant('FS_PATH') }}view/css/custom.css" />
   {% if file_exists(theme_path ~ '/css/estilo.css') %}
   <link rel="stylesheet" href="{{ constant('FS_PATH') }}{{ theme_path }}/css/estilo.css" />
   {% endif %}
   {% if file_exists(theme_path ~ '/css/fix-mixed-content.css') %}
   <link rel="stylesheet" href="{{ constant('FS_PATH') }}{{ theme_path }}/css/fix-mixed-content.css" />
   {% endif %}
   <script type="text/javascript" src="{{ constant('FS_PATH') }}view/js/jquery.min.js"></script>
   <script type="text/javascript" src="{{ constant('FS_PATH') }}view/js/bootstrap.min.js"></script>
   <script type="text/javascript" src="{{ constant('FS_PATH') }}view/js/bootstrap-datepicker.js" charset="UTF-8"></script>
   <script type="text/javascript" src="{{ constant('FS_PATH') }}view/js/jquery.autocomplete.min.js"></script>
   <script type="text/javascript" src="{{ constant('FS_PATH') }}view/js/bootbox.min.js"></script>
   <script type="text/javascript" src="{{ constant('FS_PATH') }}view/js/jquery-ui.min.js"></script>
   {% if file_exists(theme_path ~ '/js/jquery.slimscroll.min.js') %}
   <script type="text/javascript" src="{{ constant('FS_PATH') }}{{ theme_path }}/js/jquery.slimscroll.min.js"></script>
   {% endif %}
   {% if file_exists(theme_path ~ '/js/adminlte.min.js') %}
   <script type="text/javascript" src="{{ constant('FS_PATH') }}{{ theme_path }}/js/adminlte.min.js"></script>
   {% elseif file_exists(theme_path ~ '/js/app.min.js') %}
   <script type="text/javascript" src="{{ constant('FS_PATH') }}{{ theme_path }}/js/app.min.js"></script>
   {% endif %}
   {% if file_exists(theme_path ~ '/js/fix-mixed-content.js') %}
   <script type="text/javascript" src="{{ constant('FS_PATH') }}{{ theme_path }}/js/fix-mixed-content.js"></script>
   {% endif %}
   {% if file_exists(theme_path ~ '/js/backup-scripts.js') %}
   <script type="text/javascript" src="{{ constant('FS_PATH') }}{{ theme_path }}/js/backup-scripts.js"></script>
   {% endif %}
   <script type="text/javascript" src="{{ constant('FS_PATH') }}view/js/base.js?updated={{ fsc.today() }}"></script>
   {# business_base.js - injected by business_data plugin for fs_round, Base64, number_format #}
   {% if business_data_js is defined %}
   <script type="text/javascript" src="{{ constant('FS_PATH') }}{{ business_data_js }}?v={{ fsc.today() }}"></script>
   {% endif %}
   <script type="text/javascript" src="{{ constant('FS_PATH') }}view/js/ajax-loader.js?v={{ fsc.today() }}"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.js"></script>
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">
   <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>
   <script type="text/javascript">
      {# Currency variables - injected by business_data plugin via TwigInitEvent #}
      var empresa_coddivisa = '{{ empresa_coddivisa|default('EUR') }}';
      var empresa_simbolo = '{{ empresa_simbolo|default('€') }}';

      {# Number format variables - injected by business_data plugin or use defaults #}
      var FS_NF0 = {{ fs_nf0|default(constant('FS_NF0')|default(2)) }};
      var FS_NF1 = '{{ fs_nf1|default(constant('FS_NF1')|default(',')) }}';
      var FS_NF2 = '{{ fs_nf2|default(constant('FS_NF2')|default('.')) }}';
      var FS_POS_DIVISA = '{{ fs_pos_divisa|default(constant('FS_POS_DIVISA')|default('right')) }}';

      function show_precio(precio, coddivisa) {
         coddivisa || (coddivisa = empresa_coddivisa);

         if (coddivisa == empresa_coddivisa) {
            if (FS_POS_DIVISA == 'right') {
               return number_format(precio, FS_NF0, FS_NF1, FS_NF2) + ' ' + empresa_simbolo;
            }
            else {
               return empresa_simbolo + number_format(precio, FS_NF0, FS_NF1, FS_NF2);
            }
         }
         else {
            return number_format(precio, FS_NF0, FS_NF1, FS_NF2);
         }
      }
      function show_numero(numero) {
         return number_format(numero, FS_NF0, FS_NF1, FS_NF2);
      }
   </script>
   <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/i18n/defaults-*.min.js"></script>
   {% for ext in fsc.extensions %}
   {% if ext.type == 'head' %}{{ ext.text|raw }}{% endif %}
   {% endfor %}
</head>

<body class="hold-transition skin-blue sidebar-mini">
   <div class="wrapper">
      <header class="main-header">
   
         <nav class="navbar navbar-static-top" role="navigation">
            <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button" onkeydown="if (event.key === 'Enter' || event.key === ' ') { event.preventDefault(); this.click(); }">
               <span class="sr-only">{{ 'menu'|trans }}</span>
            </a>
            <div class="navbar-custom-menu">
               <ul class="nav navbar-nav">
                  <li class="dropdown">
                     <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" onkeydown="if (event.key === 'Enter' || event.key === ' ') { event.preventDefault(); this.click(); }"
                        title="{{ 'quick_access'|trans }}">
                        <i class="fa fa-plus-square"></i>
                     </a>
                     <ul class="dropdown-menu">
                        {% set menu_ar_vacio = true %}
                        {% for page in fsc.user.get_menu() %}
                        {% if page.important %}
                        <li><a href="{{ page.url() }}">{{ page.title }}</a></li>
                        {% set menu_ar_vacio = false %}
                        {% endif %}
                        {% endfor %}
                        {% if menu_ar_vacio %}
                        <li><a href="#">{{ 'empty'|trans }}</a></li>
                        {% endif %}
                     </ul>
                  </li>

                  {% if fsc.check_for_updates() %}
                  <li>
                     <a href="updater.php" target="_blank" class="bg-primary" title="{{ 'updates_available'|trans }}">
                        <i class="fa fa-download hidden-xs"></i>
                        <span class="visible-xs">{{ 'updates'|trans }}</span>
                     </a>
                  </li>
                  {% endif %}

                  {% if fsc.get_last_changes() %}
                  <li class="dropdown">
                     <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" onkeydown="if (event.key === 'Enter' || event.key === ' ') { event.preventDefault(); this.click(); }">
                        <i class="fa fa-files-o"></i>
                     </a>
                     <ul class="dropdown-menu">
                        {% for change in fsc.get_last_changes() %}
                        <li title="{% if change.nuevo %}{{ 'created'|trans }}{% else %}{{ 'modified'|trans }}{% endif %} {{ change.cambio }}">
                           <a href="{{ change.url }}">
                              {% if change.nuevo %}
                              <i class="fa fa-file"></i>
                              {% else %}
                              <i class="fa fa-pencil-square-o"></i>
                              {% endif %}
                              {{ change.texto }}
                           </a>
                        </li>
                        {% endfor %}
                     </ul>
                  </li>
                  {% endif %}

                  <li class="dropdown user user-menu">
                     <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <img src='{{ get_gravatar(fsc.user.email) }}' class="user-image" alt="User Image" />
                        <span class="hidden-xs">{{ fsc.user.nick }}</span>
                     </a>
                     <ul class="dropdown-menu">
                        <li class="user-header">
                           <img src='{{ get_gravatar(fsc.user.email) }}' class="img-circle" alt="User Image" />
                           <p>
                              {{ fsc.user.get_agente_fullname() }}
                              <small>{{ fsc.user.email }}</small>
                              <small>{{ fsc.user.last_login }}</small>
                           </p>
                        </li>
                        <li class="user-footer">
                           <div class="pull-left">
                              <a href="{{ fsc.user.url() }}" class="btn btn-default btn-flat">
                                 <i class="fa fa-user"></i> {{ 'profile'|trans }}
                              </a>
                           </div>
                           <div class="pull-right">
                              <a href="{{ fsc.url()|raw }}&logout=TRUE" class="btn btn-default btn-flat">
                                 <i class="fa fa-sign-out"></i> {{ 'logout'|trans }}
                              </a>
                           </div>
                        </li>
                     </ul>
                  </li>
               </ul>
            </div>
         </nav>
      </header>
      <aside class="main-sidebar">
         <section class="sidebar">
            <div class="user-panel">
               <div class="pull-left image">
                  <img src='{{ get_gravatar(fsc.user.email) }}' class='img-circle' alt='{{ fsc.user.nick }}' />
               </div>
               <div class="pull-left info">
                  <p>{{ fsc.user.email }}</p>
                  <a href="#"><i class="fa fa-circle text-success"></i> {{ fsc.user.nick }}</a>
               </div>
            </div>
            {% set has_search_form = false %}
            {# Search form removed - will be customized per installation #}
            <ul class="sidebar-menu" data-widget="tree">
               <li class="header">{{ 'menu'|trans }}</li>
               {% for folder in fsc.folders() %}
               <li class="treeview{% if folder == fsc.page.folder %} active{% endif %}">
                  <a href="#">
                     {{ adminlte_menu_icon(folder)|raw }}
                     <span class="text-capitalize">{{ folder }}</span>
                     <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                     </span>
                  </a>
                  <ul class="treeview-menu">
                     {% for page in fsc.pages(folder) %}
                     <li{% if page.showing() %} class="active"{% endif %}>
                        <a href="{{ page.url() }}">
                           {{ adminlte_page_icon(page)|raw }} {{ page.title }}
                        </a>
               </li>
               {% endfor %}
            </ul>
            </li>
            {% endfor %}
            </ul>
         </section>
      </aside>
      <div class="content-wrapper" style="background-color: white;">
         <section class="content-header">
            {% if fsc.get_errors() %}
            <div class="alert alert-danger hidden-print">
               <ul>{% for error in fsc.get_errors() %}<li>{{ error|raw }}</li>{% endfor %}</ul>
            </div>
            {% endif %}
            {% if fsc.get_messages() %}
            <div class="alert alert-success hidden-print">
               <ul>{% for msg in fsc.get_messages() %}<li>{{ msg|raw }}</li>{% endfor %}</ul>
            </div>
            {% endif %}
            {% if fsc.get_advices() %}
            <div class="alert alert-info hidden-print">
               <ul>{% for advice in fsc.get_advices() %}<li>{{ advice|raw }}</li>{% endfor %}</ul>
            </div>
            {% endif %}
         </section>

         {# Modal for AJAX content (replaces iframe modal) #}
         <div class="modal fade" id="modal_ajax" tabindex="-1" role="dialog" aria-labelledby="modal_ajax_title">
            <div class="modal-dialog modal-lg" role="document">
               <div class="modal-content">
                  <div class="modal-header">
                     <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                        <span aria-hidden="true">&times;</span>
                     </button>
                     <h4 class="modal-title" id="modal_ajax_title">Contenido</h4>
                  </div>
                  <div class="modal-body" id="modal_ajax_body">
                     {# Content loaded via AJAX #}
                  </div>
                  <div class="modal-footer">
                     <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                  </div>
               </div>
            </div>
         </div>
