<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <th class="text-left">Plugin</th>
                <th class="text-left">Descripción</th>
                <th class="text-right">Versión</th>
                <th class="text-right">
                    <span class="glyphicon glyphicon-flash" aria-hidden="true" title="Prioridad"></span>
                </th>
            </tr>
        </thead>
        {% for value in fsc.plugin_manager.installed() %}
        {% set tr_class = '' %}
        {% if not value.compatible %}{% set tr_class = ' class="danger"' %}{% elseif value.enabled %}{% set tr_class = ' class="success"' %}{% endif %}
        <tr{{ tr_class|raw }}>
            <td>{{ value.name }}</td>
            <td>
                <p>{{ value.description }}</p>
                {% if value.requires_support is defined and value.requires_support %}
                <div class="alert alert-danger" style="margin-top: 10px; margin-bottom: 10px;">
                    <i class="fa fa-ban" aria-hidden="true"></i>&nbsp;
                    <strong>Incompatible:</strong> {{ value.error_msg|raw }}
                    <div style="margin-top: 8px;">
                        <span style="margin-right: 5px;">Activar en orden:</span>
                        {% for idx, support_plugin in value.requires_support %}
                            <a href="{{ fsc.url() }}&enable={{ support_plugin }}#plugins" class="btn btn-xs btn-primary" style="margin-left: 5px;">
                                <span class="badge" style="background-color: #fff; color: #337ab7; margin-right: 3px;">{{ idx + 1 }}</span>
                                <span class="glyphicon glyphicon-ok"></span>&nbsp; {{ support_plugin }}
                            </a>
                            {% if not loop.last %}
                                <span class="glyphicon glyphicon-arrow-right" style="margin: 0 5px; color: #666;"></span>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                {% elseif value.legacy_warning %}
                <div class="alert alert-warning" style="margin-top: 10px; margin-bottom: 10px;">
                    <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>&nbsp;
                    <strong>Advertencia:</strong> {{ value.error_msg }}
                </div>
                {% endif %}
                {% if value.wizard != '' and value.enabled %}
                <a href="index.php?page={{ value.wizard }}" class="btn btn-xs btn-default">
                    <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>&nbsp; Configurar
                </a>
                {% endif %}
                <a href="https://github.com/eltictacdicta/fs-framework/plugin/{{ value.name }}" target="_blank" class="btn btn-xs btn-default">
                    <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>&nbsp; más información
                </a>
                <a href="{{ fsc.url() }}&download_plugin={{ value.name }}" class="btn btn-xs btn-success" title="Descargar plugin como ZIP">
                    <span class="glyphicon glyphicon-save" aria-hidden="true"></span>&nbsp; Descargar
                </a>
                {% if value.has_backup %}
                <a class="btn btn-xs btn-info" onclick="restaurar_backup('{{ value.name }}'); return false;" title="Restaurar versión anterior desde backup">
                    <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span>&nbsp; Restaurar versión anterior
                </a>
                {% endif %}
                {% if value.enabled %}
                <a class="btn btn-xs btn-warning" href="{{ fsc.url() }}&disable={{ value.name }}#plugins">
                    <span class="glyphicon glyphicon-remove"></span> Desactivar
                </a>
                {% else %}
                <div class="btn-group">
                    {% if not fsc.plugin_manager.disable_rm_plugins %}
                    <a class="btn btn-xs btn-danger" onclick="eliminar('{{ value.name }}')" title="eliminar plugin">
                        <span class="glyphicon glyphicon-trash"></span>
                    </a>
                    {% endif %}
                    {% if value.compatible %}
                    <a class="btn btn-xs btn-primary" href="{{ fsc.url() }}&caca={{ fsc.random_string(4) }}&enable={{ value.name }}#plugins">
                        <span class="glyphicon glyphicon-ok"></span>&nbsp; Activar
                    </a>
                    {% else %}
                    <a class="btn btn-xs btn-warning" href="#" onclick="bootbox.alert({message: '{{ value.error_msg }}', title: '<b>Atención</b>'});">
                        <span class="glyphicon glyphicon-remove"></span>&nbsp; Incompatible
                    </a>
                    {% endif %}
                </div>
                {% endif %}
            </td>
            <td class="text-right">
                <a href="{{ constant('FS_COMMUNITY_URL') }}/index.php?page=community_changelog&plugin={{ value.name }}&version={{ value.version }}" target="_blank">
                    {{ value.version }}
                </a>
            </td>
            <td class="text-right">{{ value.prioridad }}</td>
        </tr>
        {% else %}
        <tr class="warning">
            <td colspan="5">
                No tienes plugins instalados.
                {% if not fsc.plugin_manager.disable_mod_plugins %}
                Mira en la pestaña <b>Descargas</b>.
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            {% if not fsc.plugin_manager.disable_add_plugins %}
            <div style="display: inline-block;">
                <a href="#modal_add_plugin" class="btn btn-sm btn-success" onclick="mostrar_modal_plugin(); return false;" id="btn_add_plugin_tab" title="Añadir nuevo plugin">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    <span class="hidden-xs">&nbsp;Añadir</span>
                </a>
                <button class="btn btn-sm btn-info" onclick="mostrarModalSimple(); return false;" title="Modal simple (debug)" style="margin-left: 5px;">
                    <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
                </button>
            </div>
            {% endif %}
        </div>
    </div>
</div>
