{#
/**
 * This file is part of FSFramework
 * Copyright (C) 2025 Javier Trujillo <mistertekcom@gmail.com>
 *
 * Admin Home - Themes Tab
 */
#}
{% set theme_manager = theme_manager() %}
{% set available_themes = theme_manager.getAvailableThemes() %}
{% set active_theme = theme_manager.getActiveTheme() %}

<div class="container-fluid" style="margin-top: 15px;">
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <i class="fa fa-paint-brush"></i>&nbsp;{{ 'themes'|trans }}
                    </h3>
                </div>
                <div class="panel-body">
                    {% if available_themes|length == 0 %}
                    <div class="alert alert-info">
                        <i class="fa fa-info-circle"></i>&nbsp;{{ 'no_themes_found'|trans }}
                    </div>
                    {% else %}
                    <div class="row">
                        {% for theme_id, theme in available_themes %}
                        <div class="col-md-4 col-sm-6">
                            <div class="panel {% if theme.active %}panel-success{% else %}panel-default{% endif %}">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        {% if theme.active %}
                                        <i class="fa fa-check-circle"></i>&nbsp;
                                        {% endif %}
                                        {{ theme.name }}
                                        <span class="badge pull-right">v{{ theme.version }}</span>
                                    </h4>
                                </div>
                                <div class="panel-body">
                                    <p>{{ theme.description }}</p>
                                    {% if theme.author %}
                                    <p class="text-muted">
                                        <small><i class="fa fa-user"></i>&nbsp;{{ theme.author }}</small>
                                    </p>
                                    {% endif %}
                                </div>
                                <div class="panel-footer">
                                    {% if theme.active %}
                                    <button class="btn btn-success btn-block" disabled>
                                        <i class="fa fa-check"></i>&nbsp;{{ 'active_theme'|trans }}
                                    </button>
                                    {% else %}
                                    <a href="{{ fsc.url()|raw }}&activate_theme={{ theme_id }}" class="btn btn-primary btn-block">
                                        <i class="fa fa-paint-brush"></i>&nbsp;{{ 'activate_theme'|trans }}
                                    </a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
