{#
/**
 * This file is part of FSFramework
 * Copyright (C) 2025 Javier Trujillo <mistertekcom@gmail.com>
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Lesser General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public License
 * along with this program. If not, see http://www.gnu.org/licenses/.
 */
#}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="es" xml:lang="es">
<head>
    {% block meta %}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>{% block title %}{{ fsc.title ?? fsc.page.title }}{% endblock %} &lsaquo; {% if fsc.empresa is defined and fsc.empresa %}{{ fsc.empresa.nombrecorto ?? fsc.empresa.nombre }}{% endif %}</title>
    <meta name="description" content="FSFramework - Software de facturación y contabilidad" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content="FSFramework" />
    <meta name="robots" content="noindex" />
    {% endblock %}
    
    {% block icons %}
    {% if file_exists('images/favicon.ico') %}
    <link rel="shortcut icon" href="{{ constant('FS_PATH') }}images/favicon.ico" />
    {% else %}
    <link rel="shortcut icon" href="{{ constant('FS_PATH') }}view/img/favicon.ico" />
    {% endif %}
    {% endblock %}
    
    {% block stylesheets %}
    {# Bootstrap 3 #}
    <link rel="stylesheet" href="{{ constant('FS_PATH') }}view/css/bootstrap.min.css" />
    
    {# Font Awesome 4 #}
    <link rel="stylesheet" href="{{ constant('FS_PATH') }}view/css/font-awesome.min.css" />
    
    {# AdminLTE CSS #}
    {% if file_exists('themes/AdminLTE/css/AdminLTE.min.css') %}
    <link rel="stylesheet" href="{{ constant('FS_PATH') }}themes/AdminLTE/css/AdminLTE.min.css" />
    {% endif %}
    {% if file_exists('themes/AdminLTE/css/skins/_all-skins.min.css') %}
    <link rel="stylesheet" href="{{ constant('FS_PATH') }}themes/AdminLTE/css/skins/_all-skins.min.css" />
    {% endif %}
    
    {# Datepicker #}
    <link rel="stylesheet" href="{{ constant('FS_PATH') }}view/css/datepicker.css" />
    
    {# Custom styles #}
    <link rel="stylesheet" href="{{ constant('FS_PATH') }}view/css/custom.css?v={{ fsc.today() }}" />
    
    {# AdminLTE custom styles #}
    {% if file_exists('themes/AdminLTE/css/estilo.css') %}
    <link rel="stylesheet" href="{{ constant('FS_PATH') }}themes/AdminLTE/css/estilo.css" />
    {% endif %}
    
    {# Bootstrap 5 compatibility layer for FS2025 plugins #}
    <link rel="stylesheet" href="{{ constant('FS_PATH') }}view/css/bt5.css" />
    {% endblock %}
    
    {% block head %}{% endblock %}
    
    {% block head_extensions %}
    {% if fsc.extensions is defined %}
    {% for ext in fsc.extensions %}
        {% if ext.type == 'head' %}{{ ext.text|raw }}{% endif %}
    {% endfor %}
    {% endif %}
    {% endblock %}
</head>
{% block fullBody %}
<body{% block body_class %} class="hold-transition skin-blue sidebar-mini"{% endblock %}>
    {% block bodyContent %}{% endblock %}
    
    {% block core_javascripts %}
    <script type="text/javascript" src="{{ constant('FS_PATH') }}view/js/jquery.min.js"></script>
    <script type="text/javascript" src="{{ constant('FS_PATH') }}view/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{ constant('FS_PATH') }}view/js/bootstrap-datepicker.js" charset="UTF-8"></script>
    <script type="text/javascript" src="{{ constant('FS_PATH') }}view/js/jquery.autocomplete.min.js"></script>
    <script type="text/javascript" src="{{ constant('FS_PATH') }}view/js/bootbox.min.js"></script>
    <script type="text/javascript" src="{{ constant('FS_PATH') }}view/js/jquery-ui.min.js"></script>
    
    {# AdminLTE JS #}
    {% if file_exists('themes/AdminLTE/js/jquery.slimscroll.min.js') %}
    <script type="text/javascript" src="{{ constant('FS_PATH') }}themes/AdminLTE/js/jquery.slimscroll.min.js"></script>
    {% endif %}
    {% if file_exists('themes/AdminLTE/js/adminlte.min.js') %}
    <script type="text/javascript" src="{{ constant('FS_PATH') }}themes/AdminLTE/js/adminlte.min.js"></script>
    {% elseif file_exists('themes/AdminLTE/js/app.min.js') %}
    <script type="text/javascript" src="{{ constant('FS_PATH') }}themes/AdminLTE/js/app.min.js"></script>
    {% endif %}
    
    {# Base JS #}
    <script type="text/javascript" src="{{ constant('FS_PATH') }}view/js/base.js?v={{ fsc.today() }}"></script>
    
    {# Number format helper #}
    <script type="text/javascript">
        function show_numero(numero) {
            return number_format(numero, '{{ constant('FS_NF0') }}', '{{ constant('FS_NF1') }}', '{{ constant('FS_NF2') }}');
        }
        
        {# Bootstrap 5 compatibility: animateSpinner function #}
        window.animateSpinner = function(action) {
            if (action === 'add') {
                $('body').css('cursor', 'wait');
                $('.btn-spin-action').prop('disabled', true);
            } else {
                $('body').css('cursor', 'default');
                $('.btn-spin-action').prop('disabled', false);
            }
        };
    </script>
    {% endblock %}
    
    {% block bootstrap5_compat %}
    <script>
        $(document).ready(function() {
            {# Handle Bootstrap 5 tab clicks (data-bs-toggle="tab") #}
            $(document).on('click', '[data-bs-toggle="tab"]', function(e) {
                e.preventDefault();
                var target = $(this).data('bs-target') || $(this).attr('href');
                var tabContent = $(target).closest('.tab-content');
                if (tabContent.length === 0) tabContent = $('.tab-content').first();
                $(this).closest('.nav-pills, .nav-tabs').find('.nav-link').removeClass('active');
                $(this).closest('.nav-pills, .nav-tabs').find('[aria-selected]').attr('aria-selected', 'false');
                tabContent.find('.tab-pane').removeClass('show active');
                $(this).addClass('active').attr('aria-selected', 'true');
                $(target).addClass('show active');
            });
            
            {# Handle Bootstrap 5 dropdowns (data-bs-toggle="dropdown") #}
            $(document).on('click', '[data-bs-toggle="dropdown"]', function(e) {
                e.preventDefault();
                e.stopPropagation();
                var $dropdown = $(this).closest('.dropdown');
                var $menu = $dropdown.find('.dropdown-menu');
                $('.dropdown').not($dropdown).removeClass('show');
                $('.dropdown-menu').not($menu).removeClass('show');
                $dropdown.toggleClass('show');
                $menu.toggleClass('show');
            });
            
            $(document).on('click', function(e) {
                if (!$(e.target).closest('.dropdown').length) {
                    $('.dropdown').removeClass('show');
                    $('.dropdown-menu').removeClass('show');
                }
            });
            
            {# Handle Bootstrap 5 modal (data-bs-toggle="modal") #}
            $(document).on('click', '[data-bs-toggle="modal"]', function(e) {
                e.preventDefault();
                var target = $(this).data('bs-target') || $(this).attr('href');
                $(target).modal('show');
            });
            
            {# Handle Bootstrap 5 collapse (data-bs-toggle="collapse") #}
            $(document).on('click', '[data-bs-toggle="collapse"]', function(e) {
                e.preventDefault();
                var target = $(this).data('bs-target') || $(this).attr('href');
                $(target).collapse('toggle');
            });
            
            {# Handle Bootstrap 5 dismiss (data-bs-dismiss) #}
            $(document).on('click', '[data-bs-dismiss="alert"]', function(e) {
                $(this).closest('.alert').fadeOut();
            });
            $(document).on('click', '[data-bs-dismiss="modal"]', function(e) {
                $(this).closest('.modal').modal('hide');
            });
        });
    </script>
    {% endblock %}
    
    {% block javascripts %}{% endblock %}
</body>
{% endblock %}
</html>
<!-- execution time: {{ fsc.duration() }} -->
