{#
/**
 * This file is part of FSFramework
 * Copyright (C) 2025 Javier Trujillo <mistertekcom@gmail.com>
 *
 * Compatibility wrapper for legacy plugins that use {include="header"}
 * 
 * This template renders the header portion of MenuTemplate (everything up to 
 * but not including the main content area). Legacy plugins can include this
 * and then render their content, followed by footer.html.twig
 *
 * Usage in legacy RainTPL templates:
 *   {include="header"}
 *   ... page content ...
 *   {include="footer"}
 *
 * The RainToTwig translator converts this to:
 *   {{ include('header.html') }}   -> loads header.html.twig (this file)
 *   ... page content ...
 *   {{ include('footer.html') }}   -> loads footer.html.twig
 */
#}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="es" xml:lang="es">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>{{ fsc.title ?? fsc.page.title }} &lsaquo; {% if fsc.empresa is defined and fsc.empresa %}{{ fsc.empresa.nombrecorto ?? fsc.empresa.nombre }}{% endif %}</title>
    <meta name="description" content="FSFramework - Software de facturación y contabilidad" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content="FSFramework" />
    
    {% if file_exists('images/favicon.ico') %}
    <link rel="shortcut icon" href="{{ constant('FS_PATH') }}images/favicon.ico" />
    {% else %}
    <link rel="shortcut icon" href="{{ constant('FS_PATH') }}view/img/favicon.ico" />
    {% endif %}
    
    {# Bootstrap 3 #}
    <link rel="stylesheet" href="{{ constant('FS_PATH') }}view/css/bootstrap.min.css" />
    <link rel="stylesheet" href="{{ constant('FS_PATH') }}view/css/font-awesome.min.css" />
    
    {# AdminLTE CSS #}
    {% if file_exists('plugins/AdminLTE/view/css/AdminLTE.min.css') %}
    <link rel="stylesheet" href="{{ constant('FS_PATH') }}plugins/AdminLTE/view/css/AdminLTE.min.css" />
    {% endif %}
    {% if file_exists('plugins/AdminLTE/view/css/skins/_all-skins.min.css') %}
    <link rel="stylesheet" href="{{ constant('FS_PATH') }}plugins/AdminLTE/view/css/skins/_all-skins.min.css" />
    {% endif %}
    
    <link rel="stylesheet" href="{{ constant('FS_PATH') }}view/css/datepicker.css" />
    <link rel="stylesheet" href="{{ constant('FS_PATH') }}view/css/custom.css?v={{ fsc.today() }}" />
    
    {% if file_exists('plugins/AdminLTE/view/css/estilo.css') %}
    <link rel="stylesheet" href="{{ constant('FS_PATH') }}plugins/AdminLTE/view/css/estilo.css" />
    {% endif %}
    
    {# Bootstrap 5 compatibility #}
    <link rel="stylesheet" href="{{ constant('FS_PATH') }}view/css/bt5.css" />
    
    <script type="text/javascript" src="{{ constant('FS_PATH') }}view/js/jquery.min.js"></script>
    <script type="text/javascript" src="{{ constant('FS_PATH') }}view/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{ constant('FS_PATH') }}view/js/bootstrap-datepicker.js" charset="UTF-8"></script>
    <script type="text/javascript" src="{{ constant('FS_PATH') }}view/js/jquery.autocomplete.min.js"></script>
    <script type="text/javascript" src="{{ constant('FS_PATH') }}view/js/bootbox.min.js"></script>
    <script type="text/javascript" src="{{ constant('FS_PATH') }}view/js/jquery-ui.min.js"></script>
    
    {% if file_exists('plugins/AdminLTE/view/js/jquery.slimscroll.min.js') %}
    <script type="text/javascript" src="{{ constant('FS_PATH') }}plugins/AdminLTE/view/js/jquery.slimscroll.min.js"></script>
    {% endif %}
    {% if file_exists('plugins/AdminLTE/view/js/adminlte.min.js') %}
    <script type="text/javascript" src="{{ constant('FS_PATH') }}plugins/AdminLTE/view/js/adminlte.min.js"></script>
    {% elseif file_exists('plugins/AdminLTE/view/js/app.min.js') %}
    <script type="text/javascript" src="{{ constant('FS_PATH') }}plugins/AdminLTE/view/js/app.min.js"></script>
    {% endif %}
    
    <script type="text/javascript" src="{{ constant('FS_PATH') }}view/js/base.js?v={{ fsc.today() }}"></script>
    
    <script type="text/javascript">
        function show_numero(numero) {
            return number_format(numero, '{{ constant('FS_NF0') }}', '{{ constant('FS_NF1') }}', '{{ constant('FS_NF2') }}');
        }
    </script>
    
    {# Head extensions #}
    {% if fsc.extensions is defined %}
    {% for ext in fsc.extensions %}
        {% if ext.type == 'head' %}{{ ext.text|raw }}{% endif %}
    {% endfor %}
    {% endif %}
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
    <header class="main-header">
        <nav class="navbar navbar-static-top" role="navigation">
            <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                <span class="sr-only">Menú</span>
            </a>
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" title="Acceso rápido">
                            <i class="fa fa-plus-square"></i>
                        </a>
                        <ul class="dropdown-menu">
                            {% set menu_empty = true %}
                            {% for page in fsc.user.get_menu() %}
                                {% if page.important %}
                                <li><a href="{{ page.url() }}">{{ page.title }}</a></li>
                                {% set menu_empty = false %}
                                {% endif %}
                            {% endfor %}
                            {% if menu_empty %}
                            <li><a href="#">Vacío</a></li>
                            {% endif %}
                        </ul>
                    </li>
                    
                    {% if fsc.check_for_updates() %}
                    <li>
                        <a href="updater.php" target="_blank" class="bg-primary" title="Hay actualizaciones disponibles">
                            <i class="fa fa-download hidden-xs"></i>
                            <span class="visible-xs">Actualizaciones</span>
                        </a>
                    </li>
                    {% endif %}
                    
                    {% if fsc.get_last_changes() %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-files-o"></i>
                        </a>
                        <ul class="dropdown-menu">
                            {% for change in fsc.get_last_changes() %}
                            <li title="{% if change.nuevo %}creado{% else %}modificado{% endif %} el {{ change.cambio }}">
                                <a href="{{ change.url }}">
                                    {% if change.nuevo %}
                                    <i class="fa fa-file"></i>
                                    {% else %}
                                    <i class="fa fa-pencil-square-o"></i>
                                    {% endif %}
                                    {{ change.texto }}
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                    </li>
                    {% endif %}
                    
                    <li class="dropdown user user-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <img src="{{ get_gravatar(fsc.user.email) }}" class="user-image" alt="User Image" />
                            <span class="hidden-xs">{{ fsc.user.nick }}</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="user-header">
                                <img src="{{ get_gravatar(fsc.user.email) }}" class="img-circle" alt="User Image" />
                                <p>
                                    {{ fsc.user.get_agente_fullname() }}
                                    <small>{{ fsc.user.email }}</small>
                                    <small>{{ fsc.user.last_login }}</small>
                                </p>
                            </li>
                            <li class="user-footer">
                                <div class="pull-left">
                                    <a href="{{ fsc.user.url() }}" class="btn btn-default btn-flat">
                                        <i class="fa fa-user"></i> Perfil
                                    </a>
                                </div>
                                <div class="pull-right">
                                    <a href="{{ fsc.url() }}&logout=TRUE" class="btn btn-default btn-flat">
                                        <i class="fa fa-sign-out"></i> Salir
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    
    <aside class="main-sidebar">
        <section class="sidebar">
            <div class="user-panel">
                <div class="pull-left image">
                    <img src="{{ get_gravatar(fsc.user.email) }}" class="img-circle" alt="{{ fsc.user.nick }}" />
                </div>
                <div class="pull-left info">
                    <p>{{ fsc.user.email }}</p>
                    <a href="#"><i class="fa fa-circle text-success"></i> {{ fsc.user.nick }}</a>
                </div>
            </div>
            
            {% if in_array('community3', GLOBALS.plugins) %}
            <form action="index.php?page=community_search" method="post" class="sidebar-form">
                <div class="input-group">
                    <input type="text" name="query" class="form-control" placeholder="Artículo..." autocomplete="off" />
                    <span class="input-group-btn">
                        <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i></button>
                    </span>
                </div>
            </form>
            {% elseif in_array('facturacion_base', GLOBALS.plugins) %}
            <form action="index.php?page=ventas_articulos" method="post" class="sidebar-form">
                <div class="input-group">
                    <input type="text" name="query" class="form-control" placeholder="Artículo..." autocomplete="off" />
                    <span class="input-group-btn">
                        <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i></button>
                    </span>
                </div>
            </form>
            {% endif %}
            
            <ul class="sidebar-menu" data-widget="tree">
                <li class="header">Menú</li>
                {% for folder in fsc.folders() %}
                <li class="treeview{% if folder == fsc.page.folder %} active{% endif %}">
                    <a href="#">
                        {{ adminlte_menu_icon(folder)|raw }}
                        <span class="text-capitalize">{{ folder }}</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        {% for page in fsc.pages(folder) %}
                        <li{% if page.showing is defined and page.showing() %} class="active"{% endif %}>
                            <a href="{{ page.url() }}">
                                {{ adminlte_page_icon(page)|raw }} {{ page.title }}
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </li>
                {% endfor %}
            </ul>
        </section>
    </aside>
    
    <div class="content-wrapper" style="background-color: white;">
        <section class="content-header">
            {% if fsc.get_errors() %}
            <div class="alert alert-danger hidden-print">
                <ul>{% for error in fsc.get_errors() %}<li>{{ error|raw }}</li>{% endfor %}</ul>
            </div>
            {% endif %}
            {% if fsc.get_messages() %}
            <div class="alert alert-success hidden-print">
                <ul>{% for msg in fsc.get_messages() %}<li>{{ msg|raw }}</li>{% endfor %}</ul>
            </div>
            {% endif %}
            {% if fsc.get_advices() %}
            <div class="alert alert-info hidden-print">
                <ul>{% for advice in fsc.get_advices() %}<li>{{ advice|raw }}</li>{% endfor %}</ul>
            </div>
            {% endif %}
        </section>
        
        <div class="modal fade" id="modal_iframe" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title">Modal title</h4>
                    </div>
                    <iframe src="" width="100%" height="600" frameBorder="0">
                        Este navegador no soporta frames.
                    </iframe>
                </div>
            </div>
        </div>
